@font-face {
  font-family: "iconfont"; /* Project id 3343520 */
  src: url('https://at.alicdn.com/t/font_3343520_aiacy4csmcq.woff2?t=1650598052562') format('woff2'),
       url('https://at.alicdn.com/t/font_3343520_aiacy4csmcq.woff?t=1650598052562') format('woff'),
       url('https://at.alicdn.com/t/font_3343520_aiacy4csmcq.ttf?t=1650598052562') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chrome-line:before {
  content: "\e7af";
}

.icon-RightArrow:before {
  content: "\e775";
}

.icon-down:before {
  content: "\e7eb";
}

.icon-close2:before {
  content: "\e6dd";
}
