@import "../../assects/variable";


.ul_wrapper span:hover {
  cursor: pointer;
}

.ul_wrapper {

  label.folder_label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #fff;
    width: 100%;
    background-color: $lightblue;
    color: #fff;
    .folder_title{
      display: flex;
      .folder_add_btn,
      .folder_remove_btn{
        padding: 0 15px;
        margin-left: 10px;
        border-radius: 4px;
        display: none;
        &:hover{
          background-color: #fff;
          color: $lightblue;
        }
      }
      .show_folder_btn{
        display: block;
      }
    }
    .icon-down:before {
      display: inline-block;
      color: #fff;
      transition: rotate 0.5s ease-in-out;
    }
  }


  input[type="checkbox"] {
    display: none;

    &~.ul_wrapper {
      display: none;
    }

    &:checked~.ul_wrapper {
      display: block;
    }

    &:checked+label.folder_label {
      background-color: $boyzoneblue;
    }

    &:checked+label.folder_label .icon-down:before {
      transform: rotate(180deg);
    }
  }
}

.li_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 0 5px 0;
  border-bottom: 1px solid $lightblue;
  border-right: 1px solid $lightblue;

  &:hover {
    cursor: pointer;
  }

  div.res_item_wrapper {
    display: flex;
    flex-direction: column;

    div.res_item_title {
      font-size: 14px;

      .icon-chrome-line {
        color: $lightblue;
        margin-right: 5px;
      }
    }

    div.detail {
      span.detail_path {
        font-size: 12px;
        color: gray;
      }
    }
  }

  .default_close {
    display: none;

    .operate_btn {
      outline: none;
      border: none;
      background-color: transparent;
      text-decoration: underline;
      margin: 0;
      padding: 0 3px;

      &:hover {
        cursor: pointer;
        font-weight: 600;
        color: $browserblue;
      }
    }
  }

  .show_editBtn {
    display: block;
  }
}