$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #fa8231 !default;
$green:   #20bf6b !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$browserblue:   #4792e6;
$ntscblue:      #4b7bec;
$boyzoneblue:   #2d98da;
$royalblue:     #3867d6;
$highblue:      #45aaf2;
$franchblue:    #70a1ff;
$lightblue:     #4791e6d2;